
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="block-header">
    <!-- JQuery DataTable Css -->
    <link href="~/Content/Theme/Admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/Content/Theme/Admin/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Theme/Admin/css/themes/all-themes.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/Content/Theme/Admin/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/Theme/Admin/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Wait Me Css -->
    <link href="~/Content/Theme/Admin/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Content/Theme/Admin/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Theme/Admin/css/themes/all-themes.css" rel="stylesheet" />
</div>
<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Office Documents</h2>
              
            </div>
            <div class="body">
                
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Content/document/d1.jpeg" />
                    </div>
                    <div class="col-md-12">
                        <img src="~/Content/document/d2.jpeg" />
                    </div>
                    <div class="col-md-12">
                        <img src="~/Content/document/d4.jpeg" />
                    </div>
                    <div class="col-md-12">
                        <img src="~/Content/document/d8.jpeg" />
                    </div>
                </div>
                <ul>
                    <li><a target="_blank" href="~/Content/document/d3.pdf">Hindustan Domestic Oil</a></li>
                    <li><a target="_blank" href="~/Content/document/d5.pdf">Intimation Receipt</a></li>
                    <li><a target="_blank" href="~/Content/document/d6.pdf">Udyog Adhaar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
<!-- Jquery Core Js -->
<script src="~/Content/Theme/Admin/plugins/jquery/jquery.min.js"></script>




<!-- Bootstrap Core Js -->
<script src="~/Content/Theme/Admin/plugins/bootstrap/js/bootstrap.js"></script>
<!-- Select Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Slimscroll Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Waves Effect Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/node-waves/waves.js"></script>


<script src="~/Content/Theme/Admin/plugins/autosize/autosize.js"></script>
<script src="~/Content/Theme/Admin/plugins/momentjs/moment.js"></script>
<script src="~/Content/Theme/Admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/Content/Theme/Admin/js/pages/forms/basic-form-elements.js"></script>


<!-- Jquery DataTable Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/Content/Theme/Admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<!-- Custom Js -->
<script src="~/Content/Theme/Admin/js/admin.js"></script>
<script src="~/Content/Theme/Admin/js/pages/tables/jquery-datatable.js"></script>
<!-- Demo Js -->
<script src="~/Content/Theme/Admin/js/demo.js"></script>

